<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <footer id="footer-id" class="footer">
    <div class="container footer-container">
      <div class="footer-fixed">
        <div class="footer-main">
          <div class="footer-link">
            <a href="./index.html" class="footer-logo">watchcharm</a>
            <ul class="footer-icons">
              <li class="footer-soc">
                <a
                  href="https://www.facebook.com/goITclub/"
                  class="footer-soc-link"
                  target="_blank"
                  ><svg class="icons-svg" width="18" height="18">
                    <use href="/img/sprite.svg#icon-facebook" /></svg
                ></a>
              </li>
              <li class="footer-soc">
                <a
                  href="https://www.instagram.com/goitclub/"
                  class="footer-soc-link"
                  target="_blank"
                  ><svg class="icons-svg" width="18" height="18">
                    <use href="/img/sprite.svg#icon-instagram" /></svg
                ></a>
              </li>
              <li class="footer-soc">
                <a
                  href="https://www.youtube.com/c/GoIT "
                  class="footer-soc-link"
                  target="_blank"
                  ><svg class="icons-svg" width="18" height="18">
                    <use href="/img/sprite.svg#icon-youtube" /></svg
                ></a>
              </li>
            </ul>
          </div>
          <a href="tel:+380684439426" class="footer-phone"
            >+380&nbsp;(68)&nbsp;443-94-26</a
          >
        </div>
        <p class="footer-text">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </p>
        <div class="footer-down">
          <ul class="footer-menu">
            <li class="footer-menu-item"><a href="#header-id">Home</a></li>
            <li class="footer-menu-item">
              <a href="#section-about-us">About us</a>
            </li>
            <li class="footer-menu-item">
              <a href="#section-catalog">Catalog</a>
            </li>
            <li class="footer-menu-item"><a href="#section-sale">Sale</a></li>
            <li class="footer-menu-item">
              <a href="#section-reviews">Reviews</a>
            </li>
            <li class="footer-menu-item">
              <a href="#section-contact-us">Contact Us</a>
            </li>
          </ul>

          <address class="footer-menu-item">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </address>
        </div>
        <hr class="footer-line" />
        <ul class="regulation-menu">
          <li class="regulation-menu-item">
            &copy;2023 The Watch Spot. All rights reserved.
          </li>
          <li class="regulation-menu-item"><a href="">Terms of Service</a></li>
          <li class="regulation-menu-item"><a href="">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>
</html>
