<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lets-work-together</title>
    <link rel="stylesheet" href="./css/lets-work-together.css" />
  </head>
  <body>
    <main>
      <section id="section-contact-us">
        <div class="container">
          <div class="contact-us">
            <h2 class="h2-contact-us">Contact us</h2>
            <div class="contact-body">
              <div class="info-window">
                <p class="contact-text">
                  Please use the form below to contact us. Enter your name,
                  email, phone, and message and we'll get back to you shortly.
                </p>
                <form class="contact-form">
                  <div class="contact-row">
                    <label for="user-name"></label>
                    <input
                      type="text"
                      name="user-name"
                      id="user-name"
                      class="contact-input"
                      placeholder="Name"
                      required
                    />
                  </div>
                  <div class="contact-row">
                    <label for="user-email"></label>
                    <input
                      type="email"
                      name="user-email"
                      pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                      id="user-email"
                      class="contact-input"
                      placeholder="Email"
                      required
                    />
                  </div>
                  <div class="contact-row">
                    <label for="user-tel"></label>
                    <input
                      type="tel"
                      name="user-tel"
                      pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
                      id="user-tel"
                      class="contact-input"
                      placeholder="+380-93-111-99-33"
                      required
                    />
                  </div>
                  <div class="contact-row-comment">
                    <label for="user-comment"></label>
                    <textarea
                      name="user-comment"
                      id="user-comment"
                      class="contact-textarea"
                      placeholder="Comment"
                      required
                    ></textarea>
                  </div>
                  <button class="button-send" type="submit">Send</button>
                </form>
              </div>
              <picture
                ><source
                  srcset="
                    /img/contact_us/contact_desk@1x.jpg 1x,
                    /img/contact_us/contact_desk@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/contact_us/contact_tab@1x.jpg 1x,
                    /img/contact_us/contact_tab@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/contact_us/contact_mob@1x.jpg 1x,
                    /img/contact_us/contact_mob@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/contact_us/contact_desk@1x.jpg"
                  height="300"
                  alt="contact-us-image"
                />
              </picture>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
